body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    font-family: 'Noto-sans', sans-serif;
}

#sidebar {
    background-color: rgb(137, 129, 33);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: rgb(247, 241, 229);
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    padding: 1rem;
    border-right: solid rgb(178, 212, 234);
}

#sidebar span {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#sidebar span img {
    height: 3rem;
    filter: invert(93%) sepia(4%) saturate(1010%) hue-rotate(332deg) brightness(106%) contrast(94%);
    ;
}

#sidebar ul {
    display: grid;
    grid-auto-rows: 2rem;
    gap: 1rem;
}

#sidebar ul li img {
    height: 1.5rem;
    filter: invert(100%);
}

#sidebar ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(76, 75, 22);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    /* box-shadow: 2px 3px 3px black; */
    position: relative;
    padding: 1rem;
    row-gap: 2rem;
    color: rgb(247, 241, 229);
}

#search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

#search img {
    height: 1.5rem;
    filter: invert(93%) sepia(4%) saturate(1010%) hue-rotate(332deg) brightness(106%) contrast(94%);
}

#search input {
    border-radius: 1rem;
    border: none;
    background-color: rgb(247, 241, 229);
    padding: 0.5rem;
    box-shadow: 2px 3px 3px rgb(43, 43, 12);

}

#user-btns {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: right;
    font-size: 1rem;
    font-weight: 800;
    gap: 1rem;
}

#icon {
    height: 2.5rem;
    background-color: rgb(247, 241, 229);
    border-radius: 50%;
}

#introduction #icon {
    height: 3.5rem;
    background-color: rgb(247, 241, 229);
    border-radius: 50%;
}

#introduction {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

#introduction span {
    display: grid;
    grid-template-rows: auto auto;
    font-weight: 700;
}

#introduction div span:last-child {
    font-size: 1.5rem;
}

#content-btns {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#content-btns button {
    background-color: rgb(247, 241, 229);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    padding: 0.25rem;
    border: none;
    box-shadow: 2px 3px 3px rgb(43, 43, 12);
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-btns button img {
    height: 2rem;
}


#bell {
    height: 2rem;
    filter: invert(93%) sepia(4%) saturate(1010%) hue-rotate(332deg) brightness(106%) contrast(94%);
}

#main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(76, 75, 22);
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    color: rgb(247, 241, 229);
    padding: 2rem;
    font-size: 1.5rem;
    gap: 2rem;
}

#project-container {
    grid-column: 1/2;
    grid-row: 1/3;
}


#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
}

.project-card {
    height: 250px;
    display: grid;
    grid-template-columns: 1rem 1fr auto;
    grid-template-rows: 3rem 1fr 2rem;
    background-color: rgb(247, 241, 229);
}

#card-color {
    grid-area: 1/1/4/2;
    background-color: rgb(178, 212, 234);
    border-radius: 0.5rem 0 0 0.5rem;
}

.project-card span {
    grid-area: 1/2/2/4;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: rgb(247, 241, 229);
    border-radius: 0 0.5rem 0 0;
    padding: 0.5rem;
    align-self: end;
}

.project-card p {
    background-color: rgb(247, 241, 229);
    color: gray;
    margin: 0.5rem;
    grid-area: 2/2/3/4;
}

#card-actions {
    background-color: rgb(247, 241, 229);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-content: center;
    gap: 0.5rem;
    grid-area: 3/3/4/4;
    margin: 0.5rem;

}

#card-actions img {
    height: 1rem;
    color: red;
}

#card-color {
    grid-area: 1 / 1 /4/ 2;
}

#announcement-container {
    grid-column: 2/3;
    grid-row: 1/2;
}

#announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(247, 241, 229);
    margin-top: 1rem;
    padding: 1rem;
}

#announcements div:nth-child(2) {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

}

.announcement {
    padding: 1rem;

}

.announcement span {
    font-weight: 700;
    font-size: 0.9rem;

}

.announcement p {
    color: gray;
    font-size: 0.75rem;
    padding-top: 0.25rem;

}

#trending-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

#trends {
    display: grid;
    grid-template-rows: auto;
    background-color: rgb(247, 241, 229);
    gap: 1rem;
    padding: 1.5rem;
    margin-top: 1rem;
}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;

}

.trend div span {
    grid-area: 1/ 2/ 2/ 3;
}

.trend div p {
    grid-area: 1/ 2/ 2/ 3;
    color: gray;
    font-size: 0.8rem;
    padding-top: 0.25rem;
}

.trend img {
    height: 2.5rem;
    width: auto;
    grid-area: 1 / 1/ 2/ 2;
}

#trends,
#announcements,
.project-card {
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    box-shadow: 2px 3px 3px rgb(43, 43, 12);
}